In [15]:
import pandas as pd
from scipy.spatial import distance

In [4]:
def read_csv(path):
    return pd.read_csv(path)

In [19]:
ds1_df_raw = read_csv("./data/Dataset1.csv")
ds1_df_raw

            X         Y
0   -0.224947 -1.733199
1   -0.758906 -0.968496
2   -1.071598 -0.011253
3    1.218883  1.727880
4   -0.427228 -0.074943
..        ...       ...
495 -0.507739  0.034265
496 -0.055331 -1.264669
497 -0.861961 -1.168675
498 -0.457246 -1.067654
499 -0.081746 -0.040496

[500 rows x 2 columns]

In [20]:
k = 4
centroids = ds1_df_raw.sample(n=4)
ds1_df = ds1_df_raw.drop(centroids.index)
ds1_df

            X         Y
0   -0.224947 -1.733199
1   -0.758906 -0.968496
2   -1.071598 -0.011253
3    1.218883  1.727880
4   -0.427228 -0.074943
..        ...       ...
495 -0.507739  0.034265
496 -0.055331 -1.264669
497 -0.861961 -1.168675
498 -0.457246 -1.067654
499 -0.081746 -0.040496

[496 rows x 2 columns]

In [ ]:
dst = distance.euclidean(a, b)
for index, row in ds1_df.iterrows():